.div1{padding-buttom:5%; padding-left:5%; width: 100%; text-align:justify; column-count:2; -moz-column-count:2; -webkit-column-count:2; column-gap:40px; background: ivory; }
.div2{background: ivory; }