{% extends 'base.html' %}

{% block title %} Книгофил {% endblock %}
{% block homeactive %} active {% endblock homeactive %}

{% block css %}
body {
margin: 0;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
font-size: .88rem;
font-weight: 400;
line-height: 0.5;
text-align: left;
}

.container {margin-top: 30px;}
.container .row .col-md-7 #s1{margin-top: -5px;}
.container .row .col-md-7 #s2{ color: blue; margin-top: -15px;}
@media (max-width: 767px) {
 .container img{margin-top: 20px;}
 .container .row .col-md-7 h6:nth-child(n+2) {margin-top: -15px;}
}
{% endblock %}
{% block load %}
{% load static %}   
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% load thumbnail %}
{% endblock %}	

{% block body %}

    <style>body{background-color: #FEE9A0}
           btn{background-color: transparent}
           p.dline {line-height: 0.5;}      
           P{line-height: 0.5;}     		   
	</style>

<br>
<div class = "container">
  <div class="row">
     <div class="col-md-5"><img src="{% static 'images/image8.jpg' %}"></div>
     <div class="col-md-7 col-md-pull-1" >{% for item in artc_list %}
                                                      
													  <h6>{{item.title}}</h6> <p id="s1"><small>Просмотров:{{item.total_views}}</small></p> 												     
													  <p id="s2"><a href="{{item.ind}}" class="btn btn-link">>></a></p> 													  													                                                
                                                     
												  {% endfor %}
     </div>
  </div>   
                                
     {% if hist_list.has_other_pages %}
       <ul class="pagination">
         {% if hist_list.has_previous %}
           <li><a href="?page={{ hist_list.previous_page_number }}">&laquo;</a></li>
         {% else %}
           <li class="disabled"><span>&laquo;</span></li>
         {% endif %}
         {% for i in hist_list.paginator.page_range %}
           {% if hist_list.number == i %}
             <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
           {% else %}
             <li><a href="?page={{ i }}">{{ i }}</a></li>
           {% endif %}
         {% endfor %}
         {% if users.has_next %}
           <li><a href="?page={{ hist_list.next_page_number }}">&raquo;</a></li>
         {% else %}
           <li class="disabled"><span>&raquo;</span></li>
         {% endif %}
       </ul>
     {% endif %}

     
     
     </div>
  </div>
</div>  

{% endblock %}
{% block js %} {% endblock %}
</html>
